version: "3.9"

services:
  cloudbeaver:
    image: dbeaver/cloudbeaver:latest
    container_name: cloudbeaver
    restart: unless-stopped
    volumes:
      - cloudbeaver_data:/opt/cloudbeaver/workspace
    networks:
      - proxy
      - db-net
    environment:
      - TZ=Asia/Kolkata

volumes:
  cloudbeaver_data:

networks:
  proxy:
    external: true
  db-net:
    external: true
